body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    max-width: 1206px;
    margin: auto;
    padding-top: 19px;
    padding-bottom: 19px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #5E81FE;
}
.navbar-menu {
    margin-right: auto;
    margin-left: 73px;
}
.menu {
    display: flex;
    list-style: none;
}
.menu-item:not(:last-child) {
    margin-right: 42px;
}
.menu-link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}
.menu-link:hover {
    text-shadow: 0 0 .7px #333, 0 0 .7px #333;

}
.button {
    text-decoration: none;
    color: inherit;
}
.button-svg:not(:last-child) {
    margin-right: 37px;
}
.button-svg:hover path {
    fill: #5982E7;

}
.button-svg:last-child {
    margin-right: 44px;
}
.button-primary {
    background-color: #D2E1FF;
    color: #3A79FF;
    padding: 13px 16px;
    font-weight: 700;
    text-decoration: none;
}
.button-primary:hover {
    color: #fff;
    background-color: #3A79FF;
    transition: .2s ease;
}
.customers {
    max-width: 888px;
    margin: auto;
    padding-top: 58px;
    padding-bottom: 58px;
}
.customers-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.customers-svg:hover path {
    fill: #5982E7;
}
.apps {
    background-color: #F5F8FF;
    width: 100%;
}
.apps-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1121px;
    margin: auto;
    padding-top: 170px;
    padding-bottom: 170px;
}
.apps-text {
    min-width: 413px;
}
.apps-title {
    font-size: 10px;
    color: #3D4F9F;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 27px;
}
.apps-img {
    height: 436px;
}
.title {
    color: #3D4F9F;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 27px;
}
.title-span {
    font-weight: 400;
}
.apps-about {
    font-size: 15px;
    line-height: 28px;
    color: #8D96BD;
    max-width: 413px;
}
.button-group-apps {
    margin-top: 47px;
}
.button-video {
    padding: 13px 25px;
    border: 1px solid #D1D1E4;
    border-right: 1px solid transparent;
}
.button-features {
    padding: 13px 21px;
    border: 1px solid #D1D1E4;
}
.apps-button {
    border-radius: 2px;
    display: inline-block;
    text-decoration: none;
    background-color: #F5F8FF;
    color: #ADB4D2;
    padding-top: 12px;
    padding-bottom: 12px;
}
.button-app-active {
    background-color: #4C85FF;
    color: white;
    box-shadow: 0 5px 15px rgba(188, 199, 255, 0.75);
    border: 1px solid #4C85FF;
}
.images {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.read-about-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 761px;
    margin: auto;
    padding-top: 71px;
}
.about-us {
    font-size: 10px;
    font-weight: 500;
    color: #3D4F9F;
    margin-bottom: 20px;
}
.about-app {
    font-size: 24px;
    font-weight: 500;
    color: #3D4F9F;
    margin-top: 0;
    margin-bottom: 92px;
}
.features {
    max-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #ADB3CB;
    font-size: 11px;
    margin-right: 25px;
    //**font-weight: 600;
    font-family: 'Open Sans', sans-serif;**//
}

.overview,
.files,
.meeting-chats,
.save-events {
    font-size: 14px;
    color: #4074F8;
    margin-top: 0;
    margin-bottom: 25px;
}

.features svg {
    margin-bottom: 33px;
}

.features p {
    height: 102px;
    margin-top: 0;
    line-height: 19px;
    margin-bottom: 92px;
}

.features h5 {
    line-height: 25px;
}
.button-group-read {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 172px;
}
.button-read-more {
    padding: 13px 16px;
    background-color: #FFD7D7;
    color: #D43F3F;
    text-decoration: none;
    font-weight: 700;
    margin-right: 17px;
}
.button-read-more:hover {
    color: #FFD7D7;
    background-color: #D43F3F;
    transition: .2s ease;
}
.button-span {
    line-height: 19px;
    font-size: 11px;
    font-weight: 600;
    color: #ADB3CB;
    vertical-align: middle;
    align-self: center;
    margin-right: 17px;
}
.button-group-read svg {
    align-self: center;
    margin-right: 17px;
}
.statistics {
    display: flex;
    align-content: center;
    justify-content: space-around;

}
.statistics-column-left {
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 90px;
    padding-top: 66px;
    padding-bottom: 66px;
}
.statistics-column-right {
    background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 90px;
    padding-top: 66px;
    padding-bottom: 66px;
}
.number-column-left {
    font-size: 48px;
    line-height: 83px;
    color: white;
    margin-top: 24px;
    margin-bottom: 24px;
}
.number-column-right {
    font-size: 48px;
    line-height: 83px;
    color: #5E80FF;
    margin-top: 24px;
    margin-bottom: 24px;
}
.text-column-left {
    font-size: 18px;
    line-height: 23px;
    color: white;
    font-weight: 500;
    margin: 0;
}
.text-column-right {
    font-size: 18px;
    line-height: 23px;
    color: #5E80FF;
    font-weight: 500;
    margin: 0;
}
.get-started {
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}
.get-started-now {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.plan {
    font-size: 10px;
    font-weight: 500;
    color: white;
    padding-top: 91px;
    margin-bottom: 16px;
}
.button-view-pricing,
.button-read-documentation {
    text-decoration: none;
    border-radius: 2px;
}
.h2-get-started {
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
    color: white;
    margin-top: 0;
    margin-bottom: 28px;
}
.h2-get-started-bold {
    font-weight: 500;
}
.p-get-started {
    font-size: 15px;
    line-height: 28px;
    color: white;
    max-width: 721px;
    text-align: center;
    margin-top: 0;
    height: 78px;
    margin-bottom: 28px;
}
.button-get-started {
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    border: 1px solid #D1D1E4;
    color: #C7D3FF;
}
.button-view-pricing {
    padding: 13px 17px;
    border-right: 1px solid transparent;
}
.button-read-documentation {
    padding: 13px 9px;
}
.button-get-started-active {
    background: #FFFFFF;
    box-shadow: 0 5px 15px #6480E8;
    color: #565F82;
    border: 1px solid #ffffff;
}
.button-group-get-started {
    padding-bottom: 91px;
}
.sign {
    background-color: #FCFDFF;
    padding-top: 119px;
    padding-bottom: 119px;
}
.sign-up {
    max-width: 887px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-sign-up {
    margin-right: 80px;
}
.p-sign-up {
    max-width: 330px;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #8D96BD;
}
.title-sign-up {
    font-size: 18px;
    line-height: 22px;
    color: #3D4F9F;
}
.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button-save-me {
    display: block;
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    color: white;
    padding: 22px 62px;
    background: #4D6CE1;
    box-shadow: 0 5px 15px rgba(116, 104, 255, 0.2);
    border-radius: 5px;
    max-width: 184px;
    max-height: 59px;
    white-space: nowrap;
    border: none;
}
.input-email {
    margin-right: 14px;
    background: #EFEFF7;
    border-radius: 5px;
    border: none;
    padding: 21px 168px 21px 23px;
}
.footer {
    padding: 0;
}
.navbar-footer {
    padding-top: 93px;
    padding-bottom: 28px;

}
.copyright {
    color: #AEB8D0;
    font-size: 12px;
    line-height: 15px;
    margin-left: 139px;
    padding-bottom: 93px;
}
.slider-item-1 {
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%),
    url('/img/chart.png');
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider-item-1 h5 {
    color: #3D4F9F;
    text-align: center;
    margin-bottom: 16px;
}
.slider-item-1-h2 {
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #3D4F9F;
    margin: 0;
    margin-bottom: 28px;
    font-weight: 300;
}
.slider-item-1-h2 span {
    font-weight: 500;
}
.slider-item-1-p {
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #8D96BD;
    max-width: 502px;
    margin: auto;
    margin-bottom: 20px;
}
.svg-chart {
    position: relative;
    padding-top: 135px;
    width: 100%;
    object-fit: cover;
}
.slider-item-1-text {
    position: absolute;
}
.one-of-stats {
    position: absolute;
    left: 510px;
    top: 415px;
}
.cloud-1 {
    position: absolute;
    left: 253px;
    top: 72px;
}
.cloud-2 {
    position: absolute;
    left: 0.5px;
    top: 156px;
}
.cloud-3 {
    position: absolute;
    right: 498px;
    top: 445px;
}
.cloud-4 {
    position: absolute;
    right: 375px;
    top: 17px;
}
.cloud-5 {
    position: absolute;
    left: 253px;
    top: 366px;
}
.slider-item-2 {
    width: 100%;
    height: 600px;
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.slider-item-2 h5 {
    color: #3D4F9F;
    text-align: center;
    margin-bottom: 16px;
}
.slider-item-2-text {
}
.ellipses {
    margin-bottom: 28px;
}
.ellipses svg:not(:last-child) {
    margin-right: 10px;
}
.slider-container {
    padding-left: 0;
    padding-right: 0;
}
.slider-items {
    counter-reset: slide;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    padding-bottom: 15px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #3b58d7;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    color: white;
    background-color: rgba(61,79,159,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #5283FF;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.blog {
    padding-top: 103px;
    padding-bottom: 103px;
    background-color: #F5F8FF;
}
.our-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-slides-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 958px;
    padding: 63px 41px 36px 35px;
    background: #fff;
    margin-bottom: 92px;
    padding-bottom: 64px;
}
.images-flex {
    display: flex;
    align-content: center;
    justify-content: start;
}
.images-flex-right {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 67px;
}
.blog-img-1 {
    border-radius: 5px;
}
.blog-img-2 {
    margin-bottom: 12px;
    border-radius: 5px;
}
.blog-img-3 {
    border-radius: 5px;
}
.blog-h5 {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
    margin-bottom: 20px;
    margin-top: 0;
}
.blog-h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #3D4F9F;
    margin-bottom: 92px;
    margin-top: 0;
}
.slider-blog-card-title {
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: normal;
}
.slider-blog-card-text {
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #8D96BD;
    margin-top: 0;
    margin-bottom: 34px;
}
.slider-blog-button-read {
    padding: 13px 15px;
    background: #D2E1FF;
    border-radius: 2px;
    color: #3A79FF;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    margin-right: 8px;
    font-weight: bold;
}
.slider-blog-button-read:hover {
    color: #D2E1FF;
    background-color: #3A79FF;
    transition: .2s ease;
}
.slider-blog-button-add {
    padding: 13px 15px;
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    color: #A6B6DA;
    font-weight: bold;
}
.slider-blog-button-add:hover {
    color: #3A79FF;
    transition: .2s ease;
}
.slider-blog {
    position: relative;
}
.prev-2 {
    cursor: pointer;
    position: absolute;
    left: -98px;
    top: 189px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #3b58d7;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 9999;
}
.next-2 {
    cursor: pointer;
    position: absolute;
    right: -98px;
    top: 189px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #3b58d7;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 9999;
}
.dot-2 {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot-2:hover {
    background-color: #5283FF;
}
.faq {
    padding-top: 176px;
    padding-bottom: 174px;
}
.accordion-wrapper {
    max-width: 743px;
    margin: auto;
}
.accordion-item {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #8E96B7;
}
.accordion-item-title {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #8E96B7;
    font-weight: bold;
    padding: 17px 0;
    cursor: pointer;
    padding-left: 30px;
    position: relative;
    transition: .5s ease-in-out;
}
.arrow-down {
    margin-right: 24px;
}
.accordion-item-title::before {
    content: "+";
    position: absolute;
    left: 5px;
    font-size: 24px;

}
.accordion-item-content {
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    height: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
    color: #8D96BD;
}
.accordion-item-content-link {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #7382A3;
    padding: 13px 15px;
    text-decoration: none;
    background: #E8ECF4;
    border-radius: 2px;
    display: inline-block;
}
.accordion-item-content-link:hover {
    background-color: #7382A3;
    color: #E8ECF4;
    transition: .2s ease;
}
.accordion-item-content-text {
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;
    max-width: 391px;
    margin: 0;
    display: inline-block;
    margin-bottom: 17px;
}
.accordion-item.able .accordion-item-content {
    transition: .5s ease-in-out;
    height: 150px;
}

.accordion-item.able .accordion-item-title::before {
    content: "-";
}

.accordion-item.able .accordion-item-title {
    color: #495274;
}
.accordion-text {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 0;
}
.accordion-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #3D4F9F;
    margin-top: 0;
    margin-bottom: 68px;
}
.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 281px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    max-width: 423px;
    position: relative;
    min-height: 226px;
}
.swiper-slide-content {
    max-width: 423px;
    min-height: 175px;
    background-color: #fff;
}
.swiper-slide img {
    display: block;
    object-fit: cover;
    width: 52px;
    height: 52px;
    position: absolute;
    left: 180px;
    bottom: 0;
    border-radius: 50%;
}
.swiper-slide-text {
    text-align: left;
    margin-left: 69px;
    margin-right: 71px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #676F95;
    margin-top: 41px;
}
.swiper-pagination {
    position: absolute;
    bottom: 0;
}

.testimonials-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 276px;
}
.testimonials {
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    padding-top: 109px;
    padding-bottom: 109px;
}
.testimonials-h5 {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
    margin-bottom: 31px;
}
.testimonials-h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
    margin-top: 0;
    margin-bottom: 14px;
}
.testimonials-p {
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #A4ABC8;
    margin-top: 0;
}
.testimonials-text {
    margin-right: 60px;
}
.swiper-slide-prev,
.swiper-slide-next {
    opacity: 0.45;
}

